<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OutputFileLocation" value="outputFiles" />
    <add key="EmailFrom" value="noreply.Lett2go@cir2.com" />
    <add key="EmailTo" value="Oleksandr.Artsykhovskyy@cir2.com" />
    <add key="EmailSubject" value="Lett2go - Development Environment - Error" />
    <add key="EmailErrorSubject" value="Lett2go Dev Environment Error" />
    <add key="EmailSmtpHost" value="cas-array13.cir2.com" />
    <add key="EmailSmtpPort" value="0" />
    <add key="EmailUsername" value="noreply.IHSGateway" />
    <add key="EmailPassword" value="!sr0rre2cp" />
    <add key="EmailLogs" value="EmailLogs" />
  </appSettings>
  <connectionStrings>
    <add name="AnnualLetter"
         connectionString="Server=DEV-SQLN-1608;Database=AnnualLetter;Trusted_Connection=True;" />
    <add name="BNR"
         connectionString="Server=TST-SQL-1607;Database=BNR;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>